html{
    height: 100%;
    touch-action:manipulation;
}
body{
    height: 100%;
    margin: 0;
}
img{
    box-sizing: content-box;
}
*{
    box-sizing: border-box;
    --black1:#1F1D1D;
    --black2:#252525;
    --black3:#303030;
    --black4:#424242;

    --gray1:#909090;
    --gray2:#BDBDBD;
    --gray3:#ded8d8;



    --white1:#F3F3F3;

    --main0:#DBEBFB;
    --main: #ff2e54;
    --main1:#7FAFF7;

    --ex-fast:0.1s;
    --fast:   0.2s;
    --medium: 0.3s;
    --slow:   0.4s;
    --ex-slow:0.5s;

    font-family: Manrope, sans-serif;
}

.display-page{
    display: none !important;
}

.xl12{
    padding: 0 calc(100% - 1740px);
}



p{
    margin: 0;
}
@font-face {
    font-family: 'Manrope';
    src: local('Manrope Semibold'), local('Manrope-Semibold'), url('./../../fonts/Manropesemibold.woff2') format('woff2'), url('./../../fonts/Manropesemibold.woff') format('woff'), url('./../../fonts/Manropesemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope';
    src: local('Manrope Medium'), local('Manrope-Medium'), url('./../../fonts/Manropemedium.woff2') format('woff2'), url('./../../fonts/Manropemedium.woff') format('woff'), url('./../../fonts/Manropemedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope';
    src: local('Manrope Thin'), local('Manrope-Thin'), url('./../../fonts/Manropethin.woff2') format('woff2'), url('./../../fonts/Manropethin.woff') format('woff'), url('./../../fonts/Manropethin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope';
    src: local('Manrope Light'), local('Manrope-Light'), url('./../../fonts/Manropelight.woff2') format('woff2'), url('./../../fonts/Manropelight.woff') format('woff'), url('./../../fonts/Manropelight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope';
    src: local('Manrope Regular'), local('Manrope-Regular'), url('./../../fonts/Manroperegular.woff2') format('woff2'), url('./../../fonts/Manroperegular.woff') format('woff'), url('./../../fonts/Manroperegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope';
    src: local('Manrope Bold'), local('Manrope-Bold'), url('./../../fonts/Manropebold.woff2') format('woff2'), url('./../../fonts/Manropebold.woff') format('woff'), url('./../../fonts/Manropebold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}